/* ==========================================================================
   Etiam html base styles

   Font stack:  


   'bebasregular', sans-serif; 
   'bebasneuebold', sans-serif;
   'Noto Sans', sans-serif;

   Temp Fonts:
   'bebasregular', sans-serif; 

   
   Color stack:
   #05080f (black-ish) main background color
   #FD096B (pink) main accent

   ========================================================================== */

/*
   @font-face {
  font-family: 'bebasregular';
  src: url('BEBAS___-webfont.eot');
  src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'), url('BEBAS___-webfont.woff2') format('woff2'), url('BEBAS___-webfont.woff') format('woff'), url('BEBAS___-webfont.ttf') format('truetype'), url('BEBAS___-webfont.svg#bebasregular') format('svg');
  
  font-weight: normal;
  font-style: normal;
}

*/

@font-face {
  font-family: 'bebasregular';
  src: url('../fonts/BEBAS___-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebasneuebold';
  src: url('../fonts/bebasneue_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* ==========================================================================
Main styles
========================================================================== */

html {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #05080f;
  color: #cdcdcd;
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'bebasregular', sans-serif !important;
}

h4,
h5 {
  font-family: 'Noto Sans', sans-serif !important;
}

p {
  font-family: 'Noto Sans', sans-serif !important;
}

a {
  text-decoration: none;
}

.full_height {
  height: 100em;
}

.section {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  
}

.section_header {
  text-align: left;
  color: #F8E9D6;
  top: 0vh;
  right: 0vw;
  z-index: 1;
  left: 10vw;
  top: 10vh;
  position: relative;
}

/*
.section_header_text {
  position: relative;
}
.section_header_text::after {
  content: "";
  width: 10px;
  height: 100vh;
  top: 0px;
  right: 10px;
  position: absolute;
  background-color: #F50868;
}

*/
/* ==========================================================================
Home section styles - contains NASA facts main menu screen with the four main project links
========================================================================== */

#home {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}

header.home_header {
  text-align: center;
  color: #F8E9D6;
  padding-top: 20vh;
  z-index: 9999;
}

header.home_header>h1 {
  font-size: 5em;
}

header.home_header>p {
  color: #E3E2E1;
  font-size: 1.3em;
}

.pink_dash_separator {
  border-top: 5px solid #F50868;
  position: relative;
  display: inline-block;
  width: 9%;
}

a.home_nav_link  {
  font-family: 'bebasneuebold';
  font-size: 1.5em;
  color: #cdcdcd;
  text-decoration: none;
}

a.home_nav_link:hover {
  color: #F8E9D6;
}

div.home_col {
  padding: 3em;
}

/* ==========================================================================
Astronauts section styles - contains all astronaut data queries
========================================================================== */

/*  
html {
  position: relative;
  min-height: 100%;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height:100%;
  width: 400%;
  color:#0E0E0E;
  margin: 0 0 0 0 !important;
  background-color: #F8E9D6;    
}

h1, h2, h3 {
  font-family: 'bebasregular', sans-serif;
}

h4, h5 {
  font-family: 'Noto Sans', sans-serif;
}

p {
  font-family: 'Noto Sans', sans-serif !important;
}

.full_height {
  height: 100em;
}

#space_bg{
  position: fixed;
  z-index: -1;
}

*/

/* ==========================================================================
Section home
========================================================================== */

/*
#home p{
  padding-top: 30px;
  color: #F6F6F6;
  font-size: 3rem;
  letter-spacing: 3px;
} 
#home .title {
  position: absolute;
  left: 29%;
  top: 3%;
  letter-spacing: 3px;
  
}

.main_header_text {
  margin:auto;
  vertical-align:middle;
  color: #F6F6F6;
  font-family: 'bebasregular';
  font-size: 3em;
  letter-spacing: 3px;
}
.pink_dash_separator {
  border-top: 5px solid #F50868;
  position: relative;
  display: inline-block;
  width: 9%;

}
#marker{
  width: 75px;
  height: 4px;
  position: absolute;
  margin-left: 9px;
  background: #F50868;

}

/*MENU*/

/*
#menu {
  position: fixed;
  z-index: 9999; 
  right: 0;
  top: 0;
  color: black!important;
  font-style: none;
}

.menu ul{
  list-style:none;
  position:relative;
  float:left;
  margin:0;
  padding:0
}



  .menu ul li:hover > ul
{
  list-style: none!important;
  text-decoration: none!important;
  display:block
}
.navbar{
  background-color: none;
}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
    color: #6DB9F4;
}
.nav>li>a{
  color: white;
  float: right;

}
*/

/*END MENU*/