canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#space_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #05080f;
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 50% 50%;
}
