<header class="section_header">
  <h2 class="section_header_text">Astronautas</h2>
</header>
<hr class="pink_dash_separator pkdash_vertical">

<div id="astronaut_query">
</div>
<!--
  <section class="section_carousel container-fluid text-center">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h5>...</h5>
          <p>...</p>
        </div>
        <div class="carousel-item">
          <h5>...</h5>
          <p>...</p>
        </div>
        <div class="carousel-item">
          <h5>...</h5>
          <p>...</p>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>

-->
<!-- Teste de Gráfico -->
<!--div class="graph_wrapper">
    <canvas id="bar-chart" width="800" height="500"></canvas>
</div-->