<nav class="nav_wrapper" role="navigation">
    <div id="menuToggle">
      <!--
      A fake / hidden checkbox is used as click reciever,
      so you can use the :checked selector on it.
      -->
      <input type="checkbox"/>
      
      <!--
      Spans p/hamburger
      -->
      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <a class="nav_hamburger font-weight-bold" href="#"><li>Home</li></a>
        <a class="nav_hamburger font-weight-bold" href="#"><li>Sobre</li></a>
        <a class="nav_hamburger font-weight-bold" href="#astronauts"><li>Astronautas</li></a>
        <a class="nav_hamburger font-weight-bold" href="#facilities"><li>Instalações</li></a>
        <a class="nav_hamburger font-weight-bold" href="#eclipses"><li>Eclipses</li></a>
        <a class="nav_hamburger font-weight-bold" href="#walks"><li>Caminhadas</li></a>
      </ul>
    </div>
</nav>